header {
  position: absolute;
  width: 923px;
  height: 84px;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #7025fb;
}
.icon {
  position: absolute;
  left: 60px;
  top: 30.41px;
}
.logo {
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 30.3px;
  left: 40.8px;
  bottom: 30.65px;
  height: 24px;
  width: 254.82px;
}

/* Landing page- scrolling photo */
.scrolling-photo {
  position: absolute;
  width: 923px;
  height: 1196px;
  left: 0px;
  top: 84px;
  background-image: url(./img/landingpage.png);
}

.fixed-side {
  position: fixed;
  width: 997px;
  height: 1280px;
  left: 923px;
  top: 0px;
  background: #fd5334;
}

.title-sec h1 {
  margin: auto;
  position: absolute;
  top: 265px;
  left: 85px;
  bottom: 906px;
  text-transform: uppercase;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 109px;
  color: white;
}

.title-sec h2 {
  margin: auto;
  position: absolute;
  top: 390px;
  left: 85px;
  bottom: 781px;
  text-transform: uppercase;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-size: 80px;
  line-height: 109px;
  color: white;
}
.title-sec p {
  margin: auto;
  position: absolute;
  left: 607px;
  top: 306px;
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  line-height: 27px;
  font-weight: 700;
  text-transform: uppercase;
  color: #212529;
}

.start-button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 13px, 24px, 13px, 24px;
  gap: 10px;
  position: absolute;
  width: 191px;
  height: 53px;
  left: 85px;
  top: 601px;
  background: #212529;
  border-radius: 8px;
  animation-timing-function: ease-in;
  animation-duration: 1ms;
}

.start-button p {
  margin: auto;
  position: absolute;
  bottom: 13px;
  right: 60px;
  left: 24px;
  width: 107px;
  height: 27px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-transform: capitalize;
  color: #ffffff;
}

.start-button img {
  margin: auto;
  position: absolute;
  left: 143px;
  top: 14.2px;
  height: 25px;
  width: 24px;
  border-radius: 0px;
}
