* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 923px;
  height: 84px;
  background: #7025fb;
}

.icon {
  position: absolute;
  left: 60px;
  top: 30.41px;
}

.logo {
  position: absolute;
  top: 30.3px;
  left: 82.93px;
  width: 254.82px;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

/* Landing page */
.step-1-scrlphoto {
  width: 923px;
  height: 1196px;
  left: 0px;
  top: 84px;
  background-image: url(./img/background/landingpage.png);
}

.step-1-fixed-side {
  position: fixed;
  width: 997px;
  height: 1280px;
  left: 923px;
  top: 0px;
  background: #fd5334;
}

#p1-1 {
  position: absolute;
  left: 85px;
  bottom: 906px;
  text-transform: uppercase;
  font-family: "Nunito";
  font-weight: 800;
  font-size: 80px;
  color: white;
}

#p2-1 {
  position: absolute;
  left: 85px;
  bottom: 781px;
  text-transform: uppercase;
  font-family: "Nunito";
  font-weight: 900;
  font-size: 80px;
  color: white;
}

#pSmall-1 {
  position: absolute;
  left: 607px;
  top: 306px;
  font-family: "Nunito";
  font-size: 20px;

  font-weight: 700;
  text-transform: uppercase;
}

button.GetS-Button {
  position: absolute;
  width: 191px;
  height: 53px;
  left: 85px;
  top: 601px;
  background: #212529;
  border-radius: 8px;
  animation-timing-function: ease-in;
  animation-duration: 1ms;
}

button.GetS-Button:hover {
  outline: 4px solid #c2a5f9cc;
}

.GetS-Button p {
  font-family: "Open Sans";
  font-size: 20px;

  position: absolute;
  bottom: 12px;
  left: 24px;

  color: #ffffff;
}

.GetS-Button img {
  position: absolute;
  left: 143px;
  top: 10.6px;
}

/* Registration page */
.step-2-fixed {
  position: fixed;
  width: 923px;
  top: 84px;
}

#quote-2 {
  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  font-size: 26px;
  line-height: 48.5px;
  text-transform: uppercase;
  color: #212529;

  position: absolute;
  width: 423px;
  left: 132px;
  top: 328px;
}

#author-2 {
  position: absolute;
  left: 132px;
  top: 442px;

  font-family: "Nunito";
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  color: #e5e6e8;
}

#top-2 {
  position: absolute;
  left: 971px;
  top: 30px;

  font-family: "Open Sans";
  font-weight: 600;
  line-height: 150%;
  text-transform: capitalize;
}

#hline-2 {
  position: absolute;
  width: 999px;
  left: 923px;
  top: 84px;

  border: 0.1px solid rgba(185, 180, 196, 0.3);
}

#bline-2 {
  position: absolute;
  width: 174px;
  border: 0.2px solid rgba(185, 180, 196, 0.3);
  left: 1074px;
  top: 164px;
}

.stagenum-1 {
  position: absolute;
  display: flex;

  left: 1030px;
  top: 144px;
  align-items: center;

  width: 40px;
  height: 40px;

  border: 1px solid #e5e6e8;
  border-radius: 8px;
}
.stagenum-1 #num1 {
  position: fixed;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  margin-left: 12px;
  margin-bottom: 5px;
}
.stagenum-1 #num1done {
  visibility: hidden;
}

.stagenum-1.done {
  background: #e9faf1;
}
.stagenum-1.done #num1done {
  visibility: visible;
  width: 22.84px;
  height: 12.21px;
  margin-left: 7px;
}
.stagenum-1.done #num1 {
  visibility: hidden;
}
.stagenum-2 {
  position: absolute;

  right: 628px;
  top: 144px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  border: 1px solid #e5e6e8;
  border-radius: 8px;
}
.stagenum-2 p {
  margin-top: 5px;
}
.stages {
  font-family: "Open Sans";
  font-size: 16px;
  line-height: 150%;

  position: absolute;
  top: 188px;
  height: 24px;
}

#stages-1 {
  right: 791px;
}

#stages-2 {
  right: 583px;
}

.formh {
  position: absolute;
  left: 971px;
  top: 324px;

  font-family: "Open Sans";
  font-weight: 600;
  font-size: 32px;
  line-height: 150%;
}

.formp {
  position: absolute;
  left: 971px;
  top: 375px;

  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  text-transform: capitalize;
  color: #95939a;
}

.back-btn {
  padding: 13px 24px;

  position: absolute;
  width: 93px;
  left: 971px;
  top: 873px;

  border: 1px solid #212529;
  border-radius: 8px;
}

.back-btn:hover {
  border: 1px solid #c2a5f9cc;
  border-radius: 8px;
  background: rgba(185, 180, 196, 0.3);
}

.back-btn p {
  font-family: "Open Sans";
  font-size: 20px;

  color: #212529;
}

.next-btn {
  padding: 13px 24px;

  position: absolute;
  width: 128px;
  height: 53px;
  left: 1618px;
  top: 873px;

  background: #212529;
  border-radius: 8px;
}

.next-btn p {
  width: 44px;

  font-family: "Open Sans";
  font-size: 20px;

  color: #ffffff;
}

.next-btn:hover {
  outline: 4px solid #c2a5f9cc;
}

.next-btn img {
  position: absolute;
  height: 24px;
  width: 24px;
  left: 80px;
  top: 14.5px;
}

.form-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 40px;

  position: absolute;
  width: 775px;
  height: 304px;
  left: 971px;
  top: 481px;
}

.input-0 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px;

  width: 775px;
  height: 46px;

  background: #ffffff;

  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}
.input-0 input {
  border: none;
  width: 743px;

  font-family: "Open Sans";
  font-size: 20px;
  line-height: 150%;
}

.input-0 input:hover {
  background: #f8f9fa;
}

.input-0 input:focus {
  outline: none;
}

.input-0 input:active {
  background: #e9ecef;
}
.input-0 i {
  visibility: hidden;
  position: absolute;
  right: 20px;
}

.input-0.success i.check-valid {
  color: #2ecc71;
  visibility: visible;
}

.input-0.success input {
  border-color: #2ecc71;
  width: 698px;
}
.input-0.error {
  background: #ffefef;
}
.input-0.error input {
  color: red;
}

.popup-name,
.popup-email,
.popup-pnum,
.popup-date {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  width: 350px;
  height: 87px;
  left: 1531px;
  top: 226px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  visibility: hidden;
}
.popup-name.valid,
.popup-email.valid,
.popup-pnum.valid,
.popup-date.valid {
  visibility: visible;
}
.popup-header {
  padding: 8px 6px 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  height: 39px;
  gap: 8px;
  border-bottom: 0.1px solid rgba(185, 180, 196, 0.3);
}
.popup-title {
  width: 272px;
  height: 21px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px;
  color: #dc3545;
}

.popup-title img {
  width: 20px;
  height: 20px;
  display: inline-block;
}
.popup-body {
  width: 326px;
  height: 24px;
  padding: 12px;

  font-family: "Open Sans";
  font-size: 16px;
  line-height: 150%;

  color: #212529;
}
.popup-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  width: 15px;
  height: 15px;
  color: #95939a;
}
/* Chess experienece page */

#quote-3 {
  position: absolute;
  width: 615px;
  height: 83px;
  left: 117px;
  top: 261px;

  font-family: "Nunito";
  font-style: italic;
  font-weight: 800;
  font-size: 26px;
  line-height: 48.5px;
  text-transform: uppercase;

  color: #212529;
}

#author-3 {
  position: absolute;

  left: 466px;
  top: 376px;

  font-family: "Nunito";
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;

  color: #093f68;
}
/* Knowledge selection */
.selection-1 {
  position: absolute;
  width: 392px;
  height: 46px;
  left: 961px;
  top: 491px;
  z-index: 10;
}
#selectField1 {
  width: 392px;
  height: 46px;
  left: 1376px;
  top: 491px;

  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}

#selectField1 img {
  width: 12px;
  height: 13px;
  transition: transform 0.5s;
}
#list1 {
  box-sizing: border-box;

  position: absolute;
  width: 392px;
  height: 199px;

  background: #ffffff;
  border: 1px solid rgba(185, 180, 196, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}
.options1 {
  display: flex;
  align-items: flex-start;
  padding: 15px;
}
.options1 p {
  height: 30px;

  font-family: "Open Sans";
  font-size: 20px;
  line-height: 150%;
  color: #000000;
}
.options1:hover {
  font-weight: 600;
}
.options1:hover {
  background: #f7f7f9;
}

#selectText1,
#selectText {
  height: 30px;

  font-family: "Open Sans";

  font-size: 20px;
  line-height: 150%;

  color: #212529;
}
/* Chess selection */

.selection-2 {
  position: absolute;
  width: 392px;
  height: 46px;
  left: 1376px;
  top: 491px;

  background: #ffffff;
  z-index: 10;
}

#selectField {
  width: 392px;
  height: 46px;
  left: 1376px;
  top: 491px;

  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}
#selectField img {
  width: 12px;
  height: 13px;
  transition: transform 0.5s;
}
#importance {
  content: " *";
  color: red;
}

#list {
  box-sizing: border-box;
  width: 391px;
  height: 419px;
  left: 1377px;
  top: 542px;

  background: #ffffff;
  border: 1px solid rgba(185, 180, 196, 0.3);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}
.count p {
  padding-top: 10px;
  padding-left: 15px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;

  color: #817d7d;
}
.options {
  display: flex;

  align-items: center;

  padding: 10px;

  width: 344px;

  margin: auto;
  justify-content: space-between;
}
.options img {
  width: 100px;
  height: 72px;
  border-radius: 4px;
}
.options:hover {
  background: #f7f7f9;
}
.hide {
  visibility: hidden;
}

.rotate {
  transform: rotate(180deg);
}

/* radio button */

.radioh {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 8px 16px;

  position: absolute;
  width: 775px;
  height: 46px;
  left: 960px;
  top: 617px;

  height: 30px;
  display: inline;

  font-family: "Open Sans";

  font-size: 20px;
  line-height: 150%;

  background: #ffffff;
  border-radius: 4px;
}

.radioh::after {
  content: " *";
  color: red;
}

.radiob1 {
  --size: 15px;
  min-width: var(--size);
  height: var(--size);
  left: 976px;
  top: 675px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: absolute;
}
.radiob1 input,
.radiob2 input {
  display: none;
}
.radiob1 .label,
.radiob2 .label {
  margin-left: 18px;
}

.radiob1[aria-label]::after,
.radiob2[aria-label]::after {
  content: attr(aria-label);
  display: inline-block;
  margin-left: 5px;
}

.radiob1 .checkmark,
.radiob2 .checkmark {
  --gap: 2px;
  --border: 2px;
  --check-color: white;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: inline-block;
  transition: opacity 0.3s ease;
  background: white;

  border: var(--border) black;
  padding: var(--gap);
  position: absolute;
  top: 0;
  left: 0;
}

.radiob1 input:checked ~ .checkmark,
.radiob2 input:checked ~ .checkmark {
  background-origin: content-box;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    circle at center,
    var(--check-color)
      calc((var(--size) - (var(--border) * 2) - (var(--gap) * 2)) / 2),
    rgba(255, 255, 255, 0) 0
  );
}

.radiob2 {
  --size: 15px;
  min-width: var(--size);
  height: var(--size);
  left: 1050px;
  top: 675px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  position: absolute;
}

.radiob1 input,
.radiob2 input {
  cursor: pointer;
}

.radiob1 input:checked ~ .checkmark,
.radiob2 input:checked ~ .checkmark {
  background-color: #0d6efd;
}

/* Completed page */

.completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  position: absolute;
  width: 402px;
  height: 260.65px;
  left: 1201px;
  top: 416px;
}
.completed p {
  width: 402px;
  height: 54px;

  font-family: "Nunito";
  font-weight: 800;
  font-size: 36px;
  line-height: 150%;

  color: #000000;
}

.rocket {
  width: 183.89px;
  height: 190.65px;
}

element {
  --rocket-yellow: #ffbc0e;
  --rocket-orange: #f56132;
  --mobile-blue: #68e1fd;
  --mobile-dark-blue: #093f68;
  --mobile-lines: #dfeaef;
  --white-color: white;
}

.cloud1 {
  position: absolute;
  color: var(--mobile-dark-blue);
  background: var(--mobile-dark-blue);
  top: 123.01px;
  right: 76.32;
  width: 8.16px;
  height: 14.37px;
}
